<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.arrayToDataTable();
        dataTable.addColumn('string', 'Mois');
        dataTable.addColumn('number', 'Température');

// Ici on transforme data.results en mois + temp
  const moisNoms = ["Janvier","Février","Mars","Avril","Mai","Juin","Juillet","Août","Septembre","Octobre","Novembre","Décembre"];
  data.results.forEach(entry => {
    var date = new Date(entry.Jour * 1000);
    var mois = moisNoms[date.getMonth()];
    dataTable.addRow([mois, entry.temp]);
  });
          
//options de graphique
        var options = {
          title: 'Évolution des températures de la ville de Tawarano',
          legend: { position: 'none' },
          hAxis: { title: 'Mois' },
          vAxis: { title: 'Température (°C)' }
        };
//designer le histograme
        var chart = new google.visualization.Histogram(document.getElementById('chart_div'));
        chart.draw(data, options);

   // Récupération de données depuis notre API /tawarano/
        fetch('/tawarano/')
        .then(response => response.json())
        .then(data => {
        drawChart(data);
    })
      }
    </script>
  </head>
  <body>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
  </body>
</html>
